### Importing the Packages

In [1]:
import pandas as pd
import numpy as np

### Importing the data

In [2]:
#Cargo los datos desde un archivo CSV llamado "df_comp.csv" en un DataFrame llamado "raw_csv_data" utilizando la función "pd.read_csv()"
raw_csv_data = pd.read_csv("df_comp.csv")
#Crea una copia del DataFrame raw_csv_data y lo asigno a la variable df_comp.
df_comp=raw_csv_data.copy()

### Lenght of the Time Period

In [3]:
#Resumen estadístico de las columnas numéricas
df_comp.describe()

              ftse          dax          spx         nikkei
count  1245.000000   1245.000000  1245.000000   1245.000000
mean   7072.865867  13668.384585  3691.250659  25729.274013
std     566.716325   1681.478900   638.483493   3635.387496
min    4993.899902   8441.709961  2237.399902  16552.830078
25%    6837.399902  12401.200195  3066.909912  22418.150391
50%    7220.100098  13544.519531  3830.169922  26781.679688
75%    7471.500000  15365.139648  4207.270020  28437.769531
max    8014.299805  16469.750000  4796.560059  33753.328125

In [4]:
#Vista previa de los datos (5)
df_comp.head()

         date         ftse          dax          spx         nikkei
0  2018-12-03  7062.399902  11465.459961  2790.370117  22574.759766
1  2018-12-04  7022.799805  11335.320312  2700.060059  22036.050781
2  2018-12-05  6921.799805  11200.240234  2700.060059  21919.330078
3  2018-12-06  6704.100098  10810.980469  2695.949951  21501.619141
4  2018-12-07  6778.100098  10788.089844  2633.080078  21678.679688

In [5]:
#Describe la información sobre la columna "date" (fechas)
df_comp.date.describe()

count           1245
unique          1245
top       2018-12-03
freq               1
Name: date, dtype: object

### From Text to Date

In [4]:
#Modifico el formato de la columna date:  de texto a fecha y hora
df_comp.date = pd.to_datetime(df_comp.date, dayfirst=True, errors='coerce')

In [10]:
df_comp.head()

        date         ftse          dax          spx         nikkei
0 2018-12-03  7062.399902  11465.459961  2790.370117  22574.759766
1 2018-12-04  7022.799805  11335.320312  2700.060059  22036.050781
2 2018-12-05  6921.799805  11200.240234  2700.060059  21919.330078
3 2018-12-06  6704.100098  10810.980469  2695.949951  21501.619141
4 2018-12-07  6778.100098  10788.089844  2633.080078  21678.679688

In [11]:
df_comp.date.describe()

count                   1245
mean     2021-04-21 00:00:00
min      2018-12-03 00:00:00
25%      2020-02-11 00:00:00
50%      2021-04-21 00:00:00
75%      2022-06-30 00:00:00
max      2023-09-08 00:00:00
Name: date, dtype: object

In [12]:
#Confirmo que está en formato de fecha y hora 
print(df_comp['date'].dtype)

datetime64[ns]

### Setting the Index

In [5]:
#Uso la columna de fechas (date) como índice para realizar análisis, filtrado y visualización relacionados con el tiempo
df_comp.set_index("date")

                   ftse          dax          spx         nikkei
date
2018-03-12  7062.399902  11465.459961  2790.370117  22574.759766
2018-04-12  7022.799805  11335.320312  2700.060059  22036.050781
2018-05-12  6921.799805  11200.240234  2700.060059  21919.330078
2018-06-12  6704.100098  10810.980469  2695.949951  21501.619141
2018-07-12  6778.100098  10788.089844  2633.080078  21678.679688
...                 ...           ...          ...           ...
2023-04-09  7452.799805  15824.849609  4515.770020  32939.179688
2023-05-09  7437.899902  15771.709961  4496.830078  33036.761719
2023-06-09  7426.100098  15741.370117  4465.479980  33241.019531
2023-07-09  7441.700195  15718.660156  4451.140137  32991.078125
2023-08-09  7478.200195  15740.299805  4457.490234  32606.839844

[1245 rows x 4 columns]

In [6]:
#Establezco la columna "date" como índice del DataFrame df_comp, y esta modificación se realizará en el mismo df_comp
df_comp.set_index("date", inplace=True)

In [15]:
df_comp.head()

                   ftse          dax          spx         nikkei
date
2018-12-03  7062.399902  11465.459961  2790.370117  22574.759766
2018-12-04  7022.799805  11335.320312  2700.060059  22036.050781
2018-12-05  6921.799805  11200.240234  2700.060059  21919.330078
2018-12-06  6704.100098  10810.980469  2695.949951  21501.619141
2018-12-07  6778.100098  10788.089844  2633.080078  21678.679688

In [ ]:
#df_comp.date.describe() ##Espera obtener un mensaje de error porque ya no tenemos columna "date" ya que es el índice
df_comp.date.describe()

### Setting the Desired Frequency

In [8]:
#Antes de aplicar asfreq, debo verificar si hay filas duplicadas en tu DataFrame y eliminarlas. 
df_comp = df_comp[~df_comp.index.duplicated(keep='first')]

#df_comp contendrá observaciones diarias, incluyendo todos los días del calendario, tanto días laborables como fines de semana.
#útil para cuando se quiere considerar todos los días calendario en el análisis
df_comp=df_comp.asfreq('d')

In [19]:
df_comp  ##Se obersa que pasamos de tener 1245 rows × 4 columns a 1741 rows × 4 columns

                   ftse          dax          spx         nikkei
date
2018-12-03  7062.399902  11465.459961  2790.370117  22574.759766
2018-12-04  7022.799805  11335.320312  2700.060059  22036.050781
2018-12-05  6921.799805  11200.240234  2700.060059  21919.330078
2018-12-06  6704.100098  10810.980469  2695.949951  21501.619141
2018-12-07  6778.100098  10788.089844  2633.080078  21678.679688
...                 ...           ...          ...           ...
2023-09-04  7452.799805  15824.849609  4515.770020  32939.179688
2023-09-05  7437.899902  15771.709961  4496.830078  33036.761719
2023-09-06  7426.100098  15741.370117  4465.479980  33241.019531
2023-09-07  7441.700195  15718.660156  4451.140137  32991.078125
2023-09-08  7478.200195  15740.299805  4457.490234  32606.839844

[1741 rows x 4 columns]

In [9]:
#df_compcontendrá solo observaciones en días laborables, y las fechas en fines de semana y días no laborables se habrán omitido o ajustado según la frecuencia especificada.
df_comp=df_comp.asfreq('b')

In [21]:
df_comp.head()

                   ftse          dax          spx         nikkei
date
2018-12-03  7062.399902  11465.459961  2790.370117  22574.759766
2018-12-04  7022.799805  11335.320312  2700.060059  22036.050781
2018-12-05  6921.799805  11200.240234  2700.060059  21919.330078
2018-12-06  6704.100098  10810.980469  2695.949951  21501.619141
2018-12-07  6778.100098  10788.089844  2633.080078  21678.679688

In [22]:
df_comp  ##Se obersa que pasamos de tener 1741 rows × 4 columns a 1245 rows × 4 columns

                   ftse          dax          spx         nikkei
date
2018-12-03  7062.399902  11465.459961  2790.370117  22574.759766
2018-12-04  7022.799805  11335.320312  2700.060059  22036.050781
2018-12-05  6921.799805  11200.240234  2700.060059  21919.330078
2018-12-06  6704.100098  10810.980469  2695.949951  21501.619141
2018-12-07  6778.100098  10788.089844  2633.080078  21678.679688
...                 ...           ...          ...           ...
2023-09-04  7452.799805  15824.849609  4515.770020  32939.179688
2023-09-05  7437.899902  15771.709961  4496.830078  33036.761719
2023-09-06  7426.100098  15741.370117  4465.479980  33241.019531
2023-09-07  7441.700195  15718.660156  4451.140137  32991.078125
2023-09-08  7478.200195  15740.299805  4457.490234  32606.839844

[1245 rows x 4 columns]

### Handling Missing Values

In [23]:
# Esta máscara booleana es útil para identificar la ubicación de los valores nulos en su DataFrame original
# "True" en las ubicaciones donde hay valores nulos y "False" donde los valores no son nulos.
df_comp.isna()

             ftse   dax    spx   nikkei
date
2018-12-03  False  False  False   False
2018-12-04  False  False  False   False
2018-12-05  False  False  False   False
2018-12-06  False  False  False   False
2018-12-07  False  False  False   False
...           ...    ...    ...     ...
2023-09-04  False  False  False   False
2023-09-05  False  False  False   False
2023-09-06  False  False  False   False
2023-09-07  False  False  False   False
2023-09-08  False  False  False   False

[1245 rows x 4 columns]

In [24]:
#Nos muestra la cantidad de valores nulos en cada columna del DataFrame "df_comp"
df_comp.isna().sum()

ftse      0
 dax      0
spx       0
nikkei    0
dtype: int64

In [19]:
df_comp

                   ftse          dax          spx         nikkei
date
2018-12-03  7062.399902  11465.459961  2790.370117  22574.759766
2018-12-04  7022.799805  11335.320312  2700.060059  22036.050781
2018-12-05  6921.799805  11200.240234  2700.060059  21919.330078
2018-12-06  6704.100098  10810.980469  2695.949951  21501.619141
2018-12-07  6778.100098  10788.089844  2633.080078  21678.679688
...                 ...           ...          ...           ...
2023-09-04  7452.799805  15824.849609  4515.770020  32939.179688
2023-09-05  7437.899902  15771.709961  4496.830078  33036.761719
2023-09-06  7426.100098  15741.370117  4465.479980  33241.019531
2023-09-07  7441.700195  15718.660156  4451.140137  32991.078125
2023-09-08  7478.200195  15740.299805  4457.490234  32606.839844

[1245 rows x 4 columns]

In [28]:
# Los valores faltantes en la columna "spx" se llenarán con los valores no nulos más cercanos anteriores en la misma columna.
df_comp["spx "]=df_comp["spx "].ffill()

In [26]:
df_comp.isna().sum()

ftse      0
 dax      0
spx       0
nikkei    0
dtype: int64

In [31]:
# Los valores faltantes en la columna "ftse" se llenarán con los valores no nulos más cercanos siguientes en la misma columna
df_comp['ftse']=df_comp['ftse'].bfill()

In [32]:
#Los valores faltantes en la columna "dax" se llenarán con el valor promedio de esa misma columna.
df_comp[' dax ']=df_comp[' dax '].fillna(value = df_comp[' dax '].mean())

### Simplifying the Dataset

In [36]:
# Se crea una nueva columna llamada "market_value" que contiene los mismos datos que la columna "spx ".
df_comp['market_value']=df_comp["spx "]

In [37]:
df_comp.describe()

              ftse          dax          spx         nikkei  market_value
count  1245.000000   1245.000000  1245.000000   1245.000000   1245.000000
mean   7072.865867  13668.384585  3691.250659  25729.274013   3691.250659
std     566.716325   1681.478900   638.483493   3635.387496    638.483493
min    4993.899902   8441.709961  2237.399902  16552.830078   2237.399902
25%    6837.399902  12401.200195  3066.909912  22418.150391   3066.909912
50%    7220.100098  13544.519531  3830.169922  26781.679688   3830.169922
75%    7471.500000  15365.139648  4207.270020  28437.769531   4207.270020
max    8014.299805  16469.750000  4796.560059  33753.328125   4796.560059

In [38]:
#Elimina la columna "spx " 
del df_comp['spx ']

In [39]:
df_comp.describe()

              ftse          dax         nikkei  market_value
count  1245.000000   1245.000000   1245.000000   1245.000000
mean   7072.865867  13668.384585  25729.274013   3691.250659
std     566.716325   1681.478900   3635.387496    638.483493
min    4993.899902   8441.709961  16552.830078   2237.399902
25%    6837.399902  12401.200195  22418.150391   3066.909912
50%    7220.100098  13544.519531  26781.679688   3830.169922
75%    7471.500000  15365.139648  28437.769531   4207.270020
max    8014.299805  16469.750000  33753.328125   4796.560059

In [40]:
#Elimino todas las columnas excepto "market_value" 
del df_comp[' dax ']
del df_comp['ftse']
del df_comp['nikkei']

In [41]:
df_comp.describe()

       market_value
count   1245.000000
mean    3691.250659
std      638.483493
min     2237.399902
25%     3066.909912
50%     3830.169922
75%     4207.270020
max     4796.560059

### Splitting the Data

In [42]:
#La variable "size" contiene el número de filas que representan el 80% del total de filas en el DataFrame "df_comp"
# Esto se utiliza en tareas de partición de datos, como dividir un conjunto de datos en un conjunto de entrenamiento (80%) y un conjunto de prueba (20%)
size = int(len(df_comp)*0.8)

In [43]:
#Un nuevo DataFrame "df" contendrá las primeras 'size' filas de 'df_comp'. ##CONJUNTO DE ENTRANAMIENTO (80%)
df = df_comp.iloc[:size]

In [44]:
#Un nuevo DataFrame "df_test" contendrá todas las filas df_compdesde la fila en la posición sizeen adelante. ##CONJUNTO DE PRUEBA (20%)
df_test = df_comp.iloc[size:]

In [45]:
df.tail()

            market_value
date
2022-09-20   3855.929932
2022-09-21   3789.929932
2022-09-22   3757.989990
2022-09-23   3693.229980
2022-09-26   3655.040039

In [46]:
df_test.head()

            market_value
date
2022-09-27   3647.290039
2022-09-28   3719.040039
2022-09-29   3640.469971
2022-09-30   3585.620117
2022-10-03   3678.429932